/*
 *
 * MMM-OpenMensa
 *
 * 
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */

.MMM-OpenMensa .category {
    color: white;
    font-size: medium;
    font-weight: bold;
    width: 250px;
}

.MMM-OpenMensa .name {
    color: white;
    font-size: medium;
    font-weight: normal;
    line-height: normal;
    width: 250px;
}

.MMM-OpenMensa .price {
    font-size: small;
    font-weight: lighter;
    width: 250px;
}